bug: Invalid base64 unicode characters accepted on strict mode

Drag from base64 and type in the input field `©ab==`, and select strict mode, as i observed the decoded output is `i`

the expected behavior strict mode must comply with RFC 4648, and also violates the charset `A-Za-z0-9+/=`

would love to work on this

nice, @loki1205 

i just determined the bug and we known the truth and the full picture, @GCHQDeveloper581 and @loki1205, 

more debugging tricks via doing `©©©®®®®®®®®®` and drag from base64 and select strict mode and then drag to hex also, then you will see an empty output mean nothing decoded, because the base64 decoding steps failed and then returned `""` an empty string, you need investigate

can I start on this or do I need to wait until someone assigns this bug to me?

@loki1205 you can just go ahead and work on it

@HackingRepo, @loki1205  - just looked into this a bit harder.

To get the results you are seeing you must be leaving the "Remove non-alphabet characters" option ticked. This means any characters outside the normal (RFC4648) set are removed before any further processing.

If you run your test as per this quicklink: 

https://gchq.github.io/CyberChef/#recipe=From_Base64('A-Za-z0-9%2B/%3D',false,true)To_Hex('Space',0)&input=qWFiPT0

you will get an error reported, as expected: "Error: Invalid Base64 input length (5). Cannot be 4n+1, even without padding chars."

If you remove the "a" from the input string the error becomes (again as expected): "Error: Base64 input contains non-alphabet char(s)"


I believe this behaviour is compliant with [RFC4648 section 3.3](https://datatracker.ietf.org/doc/html/rfc4648#section-3.3) which states "Implementations MUST reject the encoded data if it contains characters outside the base alphabet when interpreting base-encoded data, unless the specification referring to this document explicitly states otherwise.  Such specifications may instead state, as MIME does, that characters outside the base encoding alphabet should simply be ignored when interpreting data"

The use of the "Remove non-alphabet characters" option triggers the "unless" portion of that quote and indeed follows the same rules as the MIME example given.

I'm therefore closing this as "WONT FIX".

(apologies @loki1205 - I should have done that checking before saying you could go ahead and work on it)